<figure class="attachment attachment--<%= blob.representable? ? "preview" : "file" %> attachment--<%= blob.filename.extension %>">
  <% if blob.representable? %>
    <a href='https://res.cloudinary.com/bukidmarkets/image/upload/<%= blob.key %>'>
      <img class="image" src='https://res.cloudinary.com/bukidmarkets/image/upload/<%= blob.key %>'>
    </a>
  <% end %>
</figure>
