<p style="color: green"><%= notice %></p>

<h1>Address</h1>

<div id="address">
  <% if @address %>
    <%= @address.street %>
  <% end %>
</div>

<%= link_to "New address", new_user_address_path(@user) %>
<br>
<%= link_to 'Home', root_path %>