.category {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  border: 1px solid $color-background;

  .category-container {
    display: flex;
    justify-content: space-evenly;
    width: 110rem;

    .categories {
      display: flex;
      align-items: center;
      gap: 1rem;

      .shop-by-category {
        font-size: 0.8rem;
        padding: 8px;
        border-radius: $category-border-radius;
        background-color: $primary-color;
        color: $color-white;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          background-color: $primary-color-light;
        }
      }

      .deals-today,
      .special-prices,
      .fresh,
      .frozen,
      .fruits,
      .grains,
      .vegetables {
        padding: $category-padding;
        border-radius: $category-border-radius;
        display: flex;
        align-items: center;
        gap: 0.3rem;
        font-size: 0.9rem;
        transition: 0.2s;
        cursor: pointer;

        .material-symbols-sharp {
          font-size: 1rem;
        }

        &:hover {
          background-color: $color-background;
        }
      }
    }

    .recently-viewed {
      padding: $category-padding;
      border-radius: $category-border-radius;
      display: flex;
      align-items: center;
      gap: 0.3rem;
      font-size: 0.8rem;
      transition: 0.2s;
      cursor: pointer;

      .material-symbols-sharp {
        font-size: 1rem;
      }

      &:hover {
        background-color: $color-background;
      }
    }
  }
}
