.nav {
  height: 8rem;
  width: 100vw;
  padding: 1rem;
  // border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;

  img {
    // width: 25rem;
  }

  .search {
    // border: 1px solid black;
    padding: 0.6rem 1rem;
    border-radius: 5px;
    background-color: $color-background;
    display: flex;
    align-items: center;

    span {
      color: $color-gray;
    }

    select {
      background-color: $color-background;
      font-size: 0.7rem;
      margin-right: 1rem;
      font-weight: 600;
      border: none;
    }

    .input {
      background-color: $color-background;
      padding: 0.5rem 1rem;
      // position: relative;
      border: none;

      // &::before {
      //   content: "";
      //   position: absolute;
      //   right: 0;
      //   height: 51px;
      //   width: 51px;
      //   background: black;
      //   display: inline-block;
      //   margin: 1px;
      // }
    }
  }

  .user {
    display: flex;
    gap: 2rem;

    .profile {
      cursor: pointer;
    }

    .favorite {
      display: flex;
      position: relative;
      cursor: pointer;
      text-decoration: none;

      .fav {
        position: absolute;
        top: -5px;
        right: -5px;
        height: 1rem;
        min-width: 1rem;
        padding: 1px;
        border-radius: 2px;
        background-color: $primary-color;
        font-size: 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-white;
      }
    }

    .cart {
      display: flex;
      position: relative;
      cursor: pointer;
      text-decoration: none;

      .shop {
        position: absolute;
        top: -5px;
        right: -5px;
        height: 1rem;
        min-width: 1rem;
        padding: 1px;
        border-radius: 2px;
        background-color: $primary-color;
        font-size: 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-white;
      }
    }
  }
}
