.category
    .category-container
        .categories
            .shop-by-category
                %span.material-symbols-sharp
                    menu
                SHOP BY CATEGORY
            .deals-today
                %span.material-symbols-sharp
                    electric_bolt
                Deals Today
            .special-prices
                %span.material-symbols-sharp
                    sell
                Special Prices
            .fresh
                Fresh
            .frozen
                Frozen
            .fruits
                Fruits
            .grains
                Grains
            .vegetables
                Vegetables
        .recently-viewed
            %span.material-symbols-sharp
                cached
            Recently Viewed