.nav
  %a{:href => "/"}
    %img.image{:src => 'logo.png'}
  .search
    %select#drop-down{:name => "drop-down"}
      %option{:value => "one"} ALL CATEGORIES
      %option{:value => "two"} Two
      %option{:value => "three"} Three
    %input.input{:placeholder => "I'm searching for.."}
    %span.material-symbols-sharp
      search
  .user
    %a.profile{:href => "#"}
      %span.material-symbols-sharp
        person
    %a.favorite{:href => "#"}
      %span.material-symbols-sharp
        favorite
      .fav
        1
    %a.cart{:href => "#"}
      %span.material-symbols-sharp
        shopping_cart
      .shop
        1