.nav
  %a{:href => "/"}
    %img.image{:src => 'https://res.cloudinary.com/bukidmarkets/image/upload/v1664814046/GROWING_3_me4o03.png'}
  .search
    %select#drop-down{:name => "drop-down"}
      %option{:value => "0"} All Categories
      - if @categories
        - @categories.collect do |cat|
          %option{:value => cat.id }
            = cat.name
    %input.input{:placeholder => "I'm searching for.."}
    %span.material-symbols-sharp
      search
  .user
    %a.favorite{:href => "#"}
      %span.material-symbols-sharp
        favorite
      .fav
        143
    - if current_user
      %a.profile{:href => "#"}
        %span.material-symbols-sharp
          person
    - else
      = link_to "Sign In", sign_in_path