.login-wrapper {
  // width: 100vw;
  // max-height: 50vmin;
  // min-height: 40vh;
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  // justify-content: center;
  // padding: 1rem;
  // background-color: $color-background;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 35rem;
  box-shadow: 0 0 1px 0 $primary-color;

  .notice {
    position: absolute;
    top: 0;
    font-size: 0.8em;
    border-radius: 10px;
    background-color: $primary-color;
    color: $color-white;
    margin: auto;
    text-align: center;
    z-index: 2;
    width: auto;
    padding: 0.5rem 1rem;
    margin: 1rem;
  }

  .login-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20%;
    right: 20%;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      opacity: 0.6;
      filter: blur(1px);
    }
  }

  .login-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: auto;
    max-height: 22em;
    border-radius: 5px;
    background-color: $color-white;
    width: 20em;
    user-select: none;
    z-index: 2;
    translate: 20vh;
    gap: 0.3em;

    .alert {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.8;
      height: 2rem;
      margin: 0;
      padding: 0;
      font-size: 0.8rem;
    }

    h2 {
      color: rgb(27, 27, 27);
    }

    .new_user {
      display: flex;
      gap: 1rem;
      flex-direction: column;
    }

    .field-email,
    .field-pass {
      display: flex;
      position: relative;
      text-align: center;
      align-items: center;

      .label-email,
      .label-pass {
        position: absolute;
        pointer-events: none;
        left: 10px;
        transition: 0.2s;
        line-height: 1;
        color: $primary-color;
        font-size: 0.8rem;
        padding: 2px;
      }

      .input-email {
        padding: 10px;
        border-radius: 4px;
        border: 1px solid $primary-color;
        color: $primary-color;
        transition: 0.2s ease;
        width: 100%;

        &:focus ~ .label-email,
        &:not(:focus):valid ~ .label-email {
          translate: -5px -18px;
          scale: 0.8;
          background-color: $color-white;
        }

        &:not(:focus):valid .alert {
          display: none;
        }

        &:focus {
          border: 1px solid $primary-color2;
          box-shadow: 0 0 3px 0 $primary-color2;
        }
      }

      .input-pass {
        padding: 10px;
        border-radius: 4px;
        border: 1px solid $primary-color;
        color: $primary-color;
        transition: 0.2s ease;
        width: 100%;

        &:focus ~ .label-pass,
        &:not(:focus):valid ~ .label-pass {
          translate: -8px -18px;
          scale: 0.8;
          background-color: $color-white;
        }

        &:focus {
          border: 1px solid $primary-color2;
          box-shadow: 0 0 3px 0 $primary-color2;
        }
      }
    }

    .remember-forgot {
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: space-between;

      .remember {
        display: flex;
        text-align: center;
        font-size: 0.8rem;
        gap: 0.3rem;
        user-select: none;

        label {
          cursor: pointer;
        }

        input {
          cursor: pointer;
        }
      }

      .forgot {
        font-size: 0.8rem;
        text-decoration: none;
      }
    }

    .login-submit {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-radius: 3px;
      border: none;
      box-shadow: 0 0 5px $primary-color;
      padding: 10px;
      width: 100%;
      height: 2.5rem;
      background-color: $primary-color;
      color: $color-white;
      cursor: pointer;
      font-size: 1rem;
      transition: 0.2s ease;

      &:hover {
        background-color: $primary-color3;
      }

      &:active {
        background-color: #4d5a4a;
      }

      .fa-solid {
        color: white;
      }
    }

    .login {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      align-items: center;
      justify-content: center;
      margin: 0.5rem;
      text-align: center;

      p {
        font-size: 0.8rem;
        color: $color-gray;
      }

      a {
        font-size: 0.85rem;
        text-decoration: none;
        width: auto;
        color: $primary-color3;
        margin-top: 0;
      }
    }

    .login-google {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-radius: 3px;
      border: none;
      box-shadow: 0 0 2px $primary-color;
      // padding: 10px;
      width: 100%;
      height: 2rem;
      background-color: $color-white;
      color: $color-gray;
      cursor: pointer;
      margin: 0.5rem 0 0rem 0;
      gap: 0.5rem;

      .fa-google {
        background: -webkit-linear-gradient(
          bottom,
          #db4437,
          #f4b400,
          #0f9d58,
          #4285f4
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
