<div id="<%= dom_id category %>">
  <p>
    <strong>Category:</strong>
    <%= category.name %>
  </p>

  <% category.products.each do |product| %>
    <p>
      <%= product.title %> | <%= link_to "View Product", product %>
    </p>
  <% end %>

</div>
